body {
  background: #f7f7f7;
  margin: 0 auto;
  font-family: "Exo", sans-serif; }
  body nav {
    height: 60px;
    background: #3a3a3a;
    display: inline-block;
    width: 100%;
    line-height: 60px; }
    body nav .brand {
      float: left;
      padding-left: 50px; }
      body nav .brand a {
        color: #fff;
        text-decoration: none; }
    body nav .navbar {
      float: right;
      padding-right: 20px; }
      body nav .navbar .bars {
        float: left;
        width: 90px;
        height: 60px;
        text-align: center; }
        body nav .navbar .bars:hover {
          background: #686767; }
        body nav .navbar .bars a {
          color: #fff;
          text-decoration: none;
          display: block; }
          body nav .navbar .bars a:focus {
            background: #686767; }
      body nav .navbar .search {
        margin-left: 40px;
        width: 60px; }
  body #hero {
    background: url("../images/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 100%;
    margin-top: -5px !important; }
    body #hero .content {
      text-align: center;
      vertical-align: center;
      padding-top: 250px; }
      body #hero .content h1 {
        font-size: 36px; }
  body #recentRecipes {
    min-height: 400px; }
    body #recentRecipes .title {
      text-align: center;
      font-size: 24px; }
    body #recentRecipes .recentRecipes {
      margin: 0 auto;
      text-align: center;
      height: 400px;
      vertical-align: middle;
      display: inline-block; }
    body #recentRecipes .middle {
      width: 250px;
      height: 150px;
      margin-top: 95px;
      margin-left: 640px;
      position: absolute; }
    body #recentRecipes .innerSideLeft {
      width: 200px;
      height: 150px;
      margin-top: 125px;
      margin-left: 390px;
      position: absolute; }
    body #recentRecipes .innerSideRight {
      width: 200px;
      height: 150px;
      margin-top: 125px;
      margin-left: 941px;
      position: absolute; }
    body #recentRecipes .sideLeft {
      width: 150px;
      height: 300px;
      margin-top: 150px;
      margin-left: 190px;
      position: absolute; }
    body #recentRecipes .sideRight {
      width: 150px;
      height: 150px;
      margin-top: 150px;
      margin-left: 1191px;
      position: absolute; }
    body #recentRecipes .iconLeft {
      width: 50px;
      height: 50px;
      margin-top: 180px;
      margin-left: 50px;
      position: absolute;
      font-size: 34px; }
    body #recentRecipes .iconRight {
      width: 50px;
      height: 50px;
      margin-top: 180px;
      margin-left: 1430px;
      position: absolute;
      font-size: 34px; }
    body #recentRecipes .sideRight img, body #recentRecipes .sideLeft img {
      height: 100px;
      width: 152px;
      margin: 0 auto;
      border: 5px solid #4f4f4f;
      border-radius: 5px; }
    body #recentRecipes .innerSideRight img, body #recentRecipes .innerSideLeft img {
      height: 140px;
      width: 200px;
      border: 5px solid #4f4f4f;
      border-radius: 5px; }
    body #recentRecipes .middle img {
      height: 202px;
      width: 250px;
      border: 5px solid #4f4f4f;
      border-radius: 5px; }
  body footer {
    height: 40px;
    width: 100%;
    background: #000;
    text-align: right;
    line-height: 40px;
    color: #fff;
    font-size: 12px; }
    body footer p {
      padding-right: 50px; }

/*# sourceMappingURL=food.css.map */
