body {
  background: #e2e2e2;
  margin: 0 auto;
  font-family: "Exo", sans-serif; }
  body nav {
    height: 60px;
    background: #3a3a3a;
    display: inline-block;
    width: 100%;
    line-height: 60px; }
    body nav .brand {
      float: left;
      padding-left: 50px; }
      body nav .brand a {
        color: #fff;
        text-decoration: none; }
      body nav .brand i {
        font-size: 26px;
        line-height: 60px; }
    body nav .navbar {
      float: right;
      padding-right: 20px; }
      body nav .navbar .bars {
        float: left;
        width: 90px;
        height: 60px;
        text-align: center; }
        body nav .navbar .bars:hover {
          background: #686767; }
        body nav .navbar .bars a {
          color: #fff;
          text-decoration: none;
          display: block; }
          body nav .navbar .bars a:focus {
            background: #686767; }
      body nav .navbar .inputBar {
        float: left;
        width: 2px;
        height: 60px;
        text-align: center;
        display: none;
        line-height: 60px; }
        body nav .navbar .inputBar input {
          width: 150px;
          height: 25px;
          background: #f7f7f7;
          border: none;
          -webkit-border-top-left-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          -moz-border-radius-topleft: 3px;
          -moz-border-radius-bottomleft: 3px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          padding-left: 20px;
          line-height: 25px; }
        body nav .navbar .inputBar button {
          width: 25px;
          height: 27px;
          background: #f7f7f7;
          border: none;
          -webkit-border-top-right-radius: 3px;
          -webkit-border-bottom-right-radius: 3px;
          -moz-border-radius-topright: 3px;
          -moz-border-radius-bottomright: 3px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px; }
      body nav .navbar .show {
        display: inline-block;
        width: 150px;
        padding-left: 30px;
        margin-right: 0; }
      body nav .navbar .showButton {
        display: inline-block;
        width: 25px;
        margin-right: 20px;
        margin-left: 0; }
      body nav .navbar .search {
        margin-left: 40px;
        width: 60px; }
      body nav .navbar .hide {
        display: none;
        width: 2px; }
        body nav .navbar .hide:hover {
          background: none; }
  body #hero {
    background: url("../images/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 100%;
    margin-top: -5px !important; }
    body #hero .content {
      text-align: center;
      vertical-align: center;
      padding-top: 250px; }
      body #hero .content h1 {
        font-size: 36px; }
  body #recentRecipes {
    min-height: 550px; }
    body #recentRecipes .title {
      text-align: left;
      margin-left: 80px; }
      body #recentRecipes .title h1 {
        font-size: 38px; }
    body #recentRecipes .recentRecipes {
      margin: 50px 60px;
      padding-right: 10px;
      text-align: center;
      height: 450px;
      overflow: hidden;
      vertical-align: middle;
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      z-index: 97; }
      body #recentRecipes .recentRecipes .recentRecipe {
        margin: 0 15px; }
        body #recentRecipes .recentRecipes .recentRecipe:hover {
          width: 48%; }
      body #recentRecipes .recentRecipes .recentRecipe img {
        width: 100%;
        margin: 0;
        z-index: 98;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
      body #recentRecipes .recentRecipes .recipeCaption {
        top: -100px;
        width: 100%;
        height: 17%;
        z-index: 99;
        position: relative;
        vertical-align: middle;
        background: rgba(104, 103, 103, 0.8);
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; }
        body #recentRecipes .recentRecipes .recipeCaption p {
          text-align: center;
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          padding-top: 20px; }
      body #recentRecipes .recentRecipes .arrowLeft {
        width: 50px;
        height: 50px;
        margin-top: 160px;
        left: 20px;
        position: absolute;
        font-size: 34px; }
      body #recentRecipes .recentRecipes .arrowRight {
        width: 50px;
        height: 50px;
        margin-top: 160px;
        right: 20px;
        position: absolute;
        font-size: 34px; }
  body footer {
    position: fixed;
    height: 40px;
    width: 100%;
    background: #000;
    text-align: right;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    bottom: 0;
    z-index: 100; }
    body footer p {
      padding-right: 50px; }
  body .aboutTitle h1 {
    margin-left: 80px;
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: bold; }
  body .about_me {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 95%;
    margin: 0 auto;
    padding: 10px 30px;
    margin-bottom: 70px;
    margin-top: -20px; }
    body .about_me .photo {
      width: 30%;
      float: left;
      margin-top: 10px;
      margin-right: 50px;
      margin-left: 30px; }
      body .about_me .photo img {
        border-radius: 5px;
        width: 90%; }
    body .about_me .description {
      width: 55%; }
  body .blogTitle h1 {
    margin-left: 80px;
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: bold; }
  body .blog {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "a b";
    margin-bottom: 50px; }
    body .blog .posts {
      display: flex;
      flex-wrap: wrap;
      margin: 0px 90px;
      grid-area: a;
      margin-left: 50px;
      width: 95%; }
      body .blog .posts .blogPosts {
        width: 46%;
        margin: 0 auto;
        padding: 0px 10px;
        margin-bottom: -80px; }
        body .blog .posts .blogPosts img {
          width: 100%;
          height: 100%;
          z-index: 98;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        body .blog .posts .blogPosts .summarry {
          font-size: 14px;
          position: relative;
          width: 100%;
          z-index: 99;
          top: -100px;
          vertical-align: middle;
          background: rgba(104, 103, 103, 0.4);
          -webkit-border-bottom-right-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px; }
          body .blog .posts .blogPosts .summarry p {
            font-weight: bold;
            color: #f0f0f0;
            padding: 5% 7%;
            text-align: left; }
          body .blog .posts .blogPosts .summarry h2 {
            font-size: 24px;
            padding-left: 30px;
            padding-top: 25px;
            color: #fff; }
          body .blog .posts .blogPosts .summarry a {
            font-size: 14px;
            font-weight: bold;
            color: #515151;
            text-decoration: none; }
    body .blog .contents {
      grid-area: b;
      margin-right: 70px;
      margin-left: 30px; }
      body .blog .contents p {
        font-size: 24px;
        margin-top: -5px; }
      body .blog .contents ul {
        font-size: 18px;
        list-style-type: none;
        padding-bottom: 10px; }
        body .blog .contents ul li {
          padding-bottom: 10px;
          margin-left: -30px; }
          body .blog .contents ul li .month {
            margin-left: 10px;
            font-size: 16px;
            padding-top: 10px; }
        body .blog .contents ul a {
          text-decoration: none;
          color: #000; }
          body .blog .contents ul a:hover {
            font-weight: bold; }
    body .blog .older {
      float: left;
      padding-left: 70px;
      width: 100px; }
      body .blog .older button {
        border-radius: 20px;
        border: 1px solid #ccc;
        background: #fff;
        left: 50px; }
    body .blog .newer {
      float: right;
      margin-left: -115px; }
      body .blog .newer button {
        border-radius: 20px;
        border: 1px solid #ccc;
        background: #fff;
        left: 50px; }
  body .recTitle h1 {
    margin-left: 80px;
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: bold; }
  body .recipes {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 80% 20%;
    margin-bottom: 50px; }
    body .recipes .recipe {
      grid-area: a;
      margin-left: 70px;
      display: flex;
      flex-wrap: wrap; }
      body .recipes .recipe .singleRecipe {
        margin-right: 30px;
        height: 280px;
        z-index: 96; }
        body .recipes .recipe .singleRecipe .recipeHover {
          top: -67px;
          width: 100%;
          z-index: 99;
          position: relative;
          height: 16%;
          background: rgba(104, 103, 103, 0.8);
          -webkit-border-bottom-right-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px; }
          body .recipes .recipe .singleRecipe .recipeHover p {
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            padding-top: 10px; }
        body .recipes .recipe .singleRecipe img {
          width: 100%;
          border-radius: 5px; }
        body .recipes .recipe .singleRecipe:hover {
          width: 23%; }
    body .recipes .contents {
      grid-area: b;
      margin-right: 70px;
      margin-left: 30px; }
      body .recipes .contents p {
        font-size: 24px;
        margin-top: -5px; }
      body .recipes .contents ul {
        font-size: 18px;
        list-style-type: none; }
        body .recipes .contents ul li {
          padding-bottom: 10px;
          margin-left: -30px; }
        body .recipes .contents ul a {
          text-decoration: none;
          color: #000; }
          body .recipes .contents ul a:hover {
            font-weight: bold; }
    body .recipes .older {
      float: left;
      padding-left: 70px;
      width: 100px; }
      body .recipes .older button {
        border-radius: 20px;
        border: 1px solid #ccc;
        background: #fff;
        left: 50px; }
    body .recipes .newer {
      float: right;
      margin-left: -115px; }
      body .recipes .newer button {
        border-radius: 20px;
        border: 1px solid #ccc;
        background: #fff;
        left: 50px; }
  body .contactTitle h1 {
    margin-left: 80px;
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: bold; }
  body .contacts {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 70% 30%; }
    body .contacts .writeMe {
      grid-area: a;
      padding-left: 80px;
      float: right;
      margin-bottom: 50px;
      width: 80%; }
      body .contacts .writeMe label {
        font-size: 20px; }
      body .contacts .writeMe input {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px; }
      body .contacts .writeMe textarea {
        margin-top: 10px;
        width: 100%; }
      body .contacts .writeMe button {
        width: 101%;
        border: 1px solid #ccc;
        background: #49c157;
        font-size: 20px;
        text-align: center;
        height: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #fff;
        border-radius: 3px;
        box-sizing: border-box; }
    body .contacts .likeMe {
      grid-area: b;
      padding: 40px 30px; }
      body .contacts .likeMe a {
        display: block;
        text-decoration: none;
        padding-bottom: 30px;
        color: #000; }
        body .contacts .likeMe a .fb {
          padding-right: 25px; }
        body .contacts .likeMe a i {
          font-size: 22px;
          padding-right: 20px; }

@media only screen and (max-width: 1270px) {
  .recipeCaption p {
    font-size: 14px !important;
    top: -103px !important; } }
@media only screen and (max-width: 888px) {
  .contacts {
    display: flex !important;
    flex-wrap: wrap !important; }
    .contacts .likeMe {
      margin: 0 auto; } }

/*# sourceMappingURL=food.css.map */
