$mainFont: 'Exo', sans-serif;

body {
    background: #f7f7f7;
    margin: 0 auto;
    font-family: $mainFont;

    nav {
        height: 60px;
        background: #3a3a3a;
        display: inline-block;
        width: 100%;
        line-height: 60px;

        .brand {
            float: left;
            padding-left: 50px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .navbar {
            float: right;
            padding-right: 20px;

            .bars {
               float: left;
               width: 90px;
               height: 60px;
               text-align: center;

                 &:hover {
                    background: #686767;
                }

                a {
                color: #fff;
                text-decoration: none;
                display: block;

                    &:focus {
                    background: #686767;
                }
                }
            }

            .search {
                margin-left: 40px;
                width: 60px;
            }

            
        }
    }

    #hero {
        background: url("../images/cover.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 600px;
        width: 100%;
        margin-top: -5px !important;

        .content {
            text-align: center;
            vertical-align: center;
            padding-top: 250px;

            h1 {
                font-size: 36px;
            }

        }
    }

    #recentRecipes {
        min-height: 400px;

        .title {
            text-align: center;
            font-size: 24px;
        }
        

        .recentRecipes {
           margin: 0 auto;
           text-align: center;
           height: 400px;
           vertical-align: middle;
           display: inline-block;
        }

        .middle {
            width: 250px;
            height: 150px;
            margin-top: 95px;
            margin-left: 640px;
            position: absolute;
          
        }

        .innerSideLeft {
            width: 200px;
            height: 150px;
            margin-top: 125px;
            margin-left: 390px;
            position: absolute;
            
        }

        .innerSideRight {
            width: 200px;
            height: 150px;
            margin-top: 125px;
            margin-left: 941px;
            position: absolute;
            
        }

        .sideLeft {
            width: 150px;
            height: 300px;
            margin-top: 150px;
            margin-left: 190px;
            position: absolute;
        }

         .sideRight {
            width: 150px;
            height: 150px;
            margin-top: 150px;
            margin-left: 1191px;
            position: absolute;
        }

        .iconLeft {
            width: 50px;
            height: 50px;
            margin-top: 180px;
            margin-left: 50px;
            position: absolute;
            font-size: 34px;
        }

        .iconRight {
            width: 50px;
            height: 50px;
            margin-top: 180px;
            margin-left: 1430px;
            position: absolute;
            font-size: 34px;
        }

        .sideRight img, .sideLeft img {
            height: 100px;
            width: 152px;
            margin: 0 auto;
            border: 5px solid #4f4f4f;
            border-radius: 5px;
        }

        .innerSideRight img, .innerSideLeft img {
           height: 140px;
            width: 200px;
            border: 5px solid #4f4f4f;
            border-radius: 5px;
        }

        .middle img {
            height: 202px;
            width: 250px;
            border: 5px solid #4f4f4f;
            border-radius: 5px;
        }
        
    }

    footer {
        height: 40px;
        width: 100%;
        background: #000;
        text-align: right;
        line-height: 40px;
        color: #fff;
        font-size: 12px;
        
        p {
            padding-right: 50px;
        }
    }
}